$color-tealish: #4736bf;
$color-navyBlue: #05445e;
$color-grey: #a8a7a7;

$color-dark: #333b4e;

// body
$background-color: #ffffff;

// section background
$background-section-1: #f5f5f5;
$background-section-2: #e6e6e6;
// Main Colors
$primary-color-blue: #0a3d62;
$secondary-color-green: #77da88;
// text colors
$text-grey: #6f7073;
$description-color-black: #331515;
// Buttons color
$button-grey: #e6e7e8;
